Web Services/03. WCF/04. StringContains.Clinet/Service References/StringContainsService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ContainsString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valueString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContainsStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContainsStringResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>